.title {
  font-size: 290px;
  font-weight: 700;
  margin-top: 110px;
}

h2 {
  font-size: 36px;
}

.msg-accueil {
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 100px;
  transition: 0.2s;
  margin-bottom: 100px;

  &:hover {
    color: #383838;
  }
}

.containerror {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ff6060;
}
