.global-container {
  display: flex;
  margin-top: 15px;
  @media screen and (max-width: 640px) {
    flex-direction: column;
    margin-top: 10px;
  }
}

.first-container {
  width: 50%;
  color: #ff6060;
  @media screen and (max-width: 1007px) {
    width: 70%;
  }
  @media screen and (max-width: 640px) {
    width: 100%;
  }
}

.scnd-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  @media screen and (max-width: 1007px) {
    width: 30%;
  }
  @media screen and (max-width: 640px) {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.lgt-title {
  font-size: 35px;
  font-weight: 600;
  margin-top: 5px;
  @media screen and (max-width: 1007px) {
    font-size: 20px;
  }
  @media screen and (max-width: 640px) {
    width: 100%;
  }
}

.lgt-location {
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
  @media screen and (max-width: 1007px) {
    font-size: 15px;
  }
  @media screen and (max-width: 640px) {
    width: 100%;
  }
}

.name-pic {
  display: flex;
  align-items: center;
  width: 185px;
  justify-content: space-between;
  @media screen and (max-width: 640px) {
    max-width: 135px; 
  }
}
.name-proprio {
  width: auto;
  font-weight: 300;
  color: #ff6060;
  @media screen and (max-width: 640px) {
    font-size: 15px;
    margin-right: 5px;
  }
}

.photo {
  border-radius: 60px;
  width: 75px;
  @media screen and (max-width: 640px) {
    width: 60px;
  }
}

.contain-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  @media screen and (max-width: 1007px) {
    margin-top: 30px;
  }
  @media screen and (max-width: 640px) {
    margin-top: 10px;
  }

  .tagsvalue {
    padding: 5px 25px;
    background-color: #ff6060;
    margin-right: 15px;
    margin-bottom: 5px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    @media screen and (max-width: 1007px) {
      padding: 5px 20px;
      margin-bottom: 5px;
    }
    @media screen and (max-width: 640px) {
      font-size: 12px;
    }
  }
}

.insidestars {
  padding: 2px;
  @media screen and (max-width: 640px) {
    width: 22px;
  }
}

.collapse-lgt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  @media screen and (max-width: 640px) {
    flex-direction: column;
    margin-top: 10px;
  }

  .collapse {
    width: 47%;
    @media screen and (max-width: 640px) {
      width: 100%;
    }
    @media screen and (max-width: 640px) {
      .collapse_title {
        font-size: 16px;
      }
    }
  }

}

@media screen and (max-width: 640px) {
  .stars {
    display: flex;
    flex-direction: row;
  }
}
