.nav {
  @media screen and (max-width: 640px) {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    list-style-type: none;

    a {
      text-decoration: none;
      padding: 10px;
      margin-right: 20px;
      @media screen and (max-width: 640px) {
        margin-right: 0px;
      }

      li {
        color: #ff6060;
        font-size: 24px;
        cursor: pointer;
        transition: 0.2s;
        font-weight: 200;
        @media screen and (max-width: 640px) {
          font-size: 14px;
          text-transform: uppercase;
        }

        &:hover {
          color: #383838;
        }
      }
    }

    .nav-active {
      position: relative;

      &::after {
        content: "";
        height: 4px;
        width: 0;
        background: #ff6060;
        position: absolute;
        border-radius: 10px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim {
          to {
            width: 100%;
          }
        }
        @keyframes anim {
          to {
            width: 100%;
          }
        }
      }
    }
  }
}
