.carousel {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius: 20px;
  @media screen and (max-width: 1007px) {
    height: 450px;
  }
  @media screen and (max-width: 640px) {
    margin-top: 15px;
    height: 350px;
    border-radius: 10px;
  }

  .carousel-images {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: none;
      border-radius: 20px;
      @media screen and (max-width: 640px) {
        border-radius: 10px;
      }

      &.active {
        display: block;
      }
    }
  }

  .carousel-buttons {
    position: absolute;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 500;
    @media screen and (min-width: 641px) {
      width: 90%;
    }
    @media screen and (min-width: 1531px) {
      width: 90%;
    }
    @media screen and (min-width: 1532px) {
      width: 87%;
    }
    @media screen and (max-width: 640px) {
      width: 90%;
    }


    img {
      width: 30px;
      height: 30px;
      margin: 0 10px;
      cursor: pointer;
      filter: drop-shadow(5px 5px 5px #383838);
    }

    img:first-child {
      width: 40px;
      height: 70px;
      @media screen and (max-width: 640px) {
        width: 20px;
        height: 35px;
      }
    }

    img:last-child {
      width: 40px;
      height: 70px;
      @media screen and (max-width: 640px) {
        width: 20px;
        height: 35px;
      }
    }
  }
}

