.landscape-about {
  height: 225px;
  margin-top: 30px;
  background: #000000;
  mix-blend-mode: darken;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  @media screen and (max-width: 640px) {
    margin-top: 10px;
    border-radius: 10px;
    height: 225px;
  }
}

.imgland-about {
  width: 100%;
  max-height: 225px;
  border-radius: 25px;
  object-fit: cover;
  opacity: 0.7;
  @media screen and (max-width: 640px) {
    border-radius: 10px;
  }
}
